USE [master]
GO
/****** Object:  Database [dss]    Script Date: 10/06/2017 22:49:09 ******/
CREATE DATABASE [dss] ON  PRIMARY 
( NAME = N'dss', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\dss.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dss_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\dss_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dss]
GO
/****** Object:  Table [dbo].[Table_Teacher]    Script Date: 10/06/2017 22:49:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_Teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[sexual] [nvarchar](50) NULL,
	[dateofbirth] [date] NULL,
	[hometown] [nvarchar](100) NULL,
	[position] [nvarchar](100) NULL,
	[image] [varbinary](max) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Teacher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
